@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400&display=swap');

:root{
    --red-brand-color:rgb(224, 1, 1);
    --font-dark-gray-color: rgb(24, 24, 24);
    --font-dark-purple-color:rgb(38, 2, 79);
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--font-dark-gray-color);
}

#myNav{
    background-color: #fff;
    color: #000000;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;  
}
#logo{
    color: var(--red-brand-color);
    font-family:'Bebas Neue', cursive;
    font-weight: bolder;
    font-size:25px;
}
.nav{
    color:var(--font-dark-gray-color);;
}
#myProductRange .col-xs-6{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
 }
#myProductRange img{
    height: 200px; 
    object-fit: cover;
    background-size:cover;
    background-position:center center; 
    background-repeat:no-repeat;
    cursor: pointer;
}
@media(min-width:1200px){
    #myProductRange img {
        height:300px;}
}

#myProductRange img:hover{
    transform: scale(0.98);
    z-index: -1;
}
#myProductRange button:hover{
    transform: scale(1.02);
}  
#myProductRange button{
    color: var(--font-dark-purple-color);
    font-weight: bold;
    border: none;
    outline-color: var(--font-dark-purple-color);
    box-shadow: var(--font-dark-gray-color) 1px 1px 4px;
    border-radius: 20px;
    padding: 7px 10px;
    cursor: pointer;
    position:relative;
    top: 170px;
}
#myColumnsWithText{
    color: var(--font-dark-purple-color);
} 
#myFeaturedProducts{
    color:var(--font-dark-purple-color);
    font-size: smaller;
}
#myFeaturedProducts h5{
    font-weight: bold;
}
#myFeaturedProducts .col-xs-3{
    display: flex;
    flex-direction: column;
    align-items:flex-start;   
} 
#myFeaturedProducts img{
    height: 200px;
    object-fit: cover;
    background-size:cover;
    background-position:center center; 
    background-repeat:no-repeat;
    cursor: pointer;
}
@media(min-width:1200px){
    #myFeaturedProducts img {
        height: 250px;}
}

 
#myJumbotron, #myJumbotron .container-fluid{
    padding:0;
    margin: 0;
    background-color: #fff;
}
#myJumbotron #text{
    box-shadow: var(--font-dark-gray-color) 2px 2px 10px ;

}
#myJumbotron .container-fluid
#myJumbotron img{
    height: 400px;
    padding:0;
    margin: 10px;
    object-fit: cover;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    overflow: hidden;   
} 
















 
#myFeaturedProducts img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        background-size:cover;
        background-position:center center; 
        background-repeat:no-repeat;
        cursor: pointer;
} 

 Add a gray background color and some padding to the footer 
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.ProductRangeEL{
    color: var(--font-dark-purple-color);
} */